body {
 font: 1em Helvetica bold;
 text-align: center;
 margin: auto;
background-color:none;
list-style-type: none;
}

.photo {
  background-color: #fff;
  width: 550px;
  height: 860px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	
}

.list {
	text-align: left;
}

h1 {
  margin: 9px 0;
  text-shadow: 0 2px 2px rgba(0, 0,0, .5);
  -moz-text-shadow: 0 2px 2px rgba(0 ,0, 0, .5);
  -ms-text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

img {
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .5);
  width: 300px;
  height: 200px;
}

h3 {
	text-align: center;
}

h4 {
  margin: 10px  0;
}

hr {
  color: black;
  width: 500px;
}


